h1,
p,
body {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
}

/* Because apparently without this, it won't work in anything but firefox .. */
.input-group-text {
  font-weight: 300 !important;
}

.my-row {
  display: flex;
}

.btn {
  font-weight: 300 !important;
}

.main-title {
  text-align: center;
}

.main-desc {
  text-align: center;
}

/* The top Buttons of the page */
.view-btns {
  text-align: left;
}

.submit-btn {
  text-align: right;
}

/* The specific cards for each ranking entry */
/* .infoCard {
  font-size: 1.75rem;
} */

.rank {
  text-align: left;
  font-weight: 300;
  font-size: 1.75rem;
}

.name {
  text-align: center;
  font-weight: 300;
  font-size: 1.75rem;
}

.elo {
  text-align: right;
  font-weight: 300;
  font-size: 1.75rem;
}

.rankings {
  font-size: 1.75rem !important;
}

@media only screen and (max-width: 600px) {
  .elo {
    font-size: 2.25rem;
  }
}
