<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet"> 
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='beer.css') }}">
</head>
<body >
    <div id="main" class="container fluid">
        <br>
        <div>
            <h1 class="display-4 main-title">SVS 🍺 Pong Rankings</h1>
            <p class="lead main-desc">The sickest 🍺 pong players in the valley <br>
                <i style="font-size: 0.75rem">If something didn't update refresh the page</i>
            </p>
            <hr class="my-4">
            <div class="row">
                <div class="col view-btns">
                    <a class="btn  top-btn btn-outline-dark" href="/all1" role="button">All Players</a>
                    <a class="btn top-btn btn-outline-dark" href="/beer" role="button">Top 10</a>
                    <a class="btn  top-btn btn-outline-dark" href="/" role="button">🏓</a>
                </div>
                <div class="col submit-btn">
            <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success submit-results" data-toggle="modal" data-target="#exampleModal">
                        Submit a new match
                    </button>
                </div>
            </div>
            <!-- <hr class="my-4"> -->

            <br>
            <!-- MODAL REION -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Match Result</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Winner 🥇</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" id="p00" aria-describedby="inputGroup-sizing-default" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Winner 🥇</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" id="p01" aria-describedby="inputGroup-sizing-default" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Points Scored</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" id="s0" aria-describedby="inputGroup-sizing-default" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">2nd Place 🥈</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" id="p10" aria-describedby="inputGroup-sizing-default" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">2nd Place 🥈</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" id="p11" aria-describedby="inputGroup-sizing-default" value="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Points Scored</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input" id="s1" aria-describedby="inputGroup-sizing-default" value="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" data-dismiss="modal" onclick="submitBeerPongResult();">Save changes</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    <p style="text-align: center">By <a href="https://github.com/noyoshi" target="blank">Noah Yoshida</a></p>
    </div>
    <br>
</body>
<div class="ct gradient-border"></div>
<div class="cr gradient-border"></div>
<div class="cb gradient-border"></div>
<div class="cl gradient-border"></div>
      