{% extends "base.html" %} {% block content %}
<table class="table rankings">
  <thead>
    <tr>
      <th scope="col" class="rank">#</th>
      <th scope="col" class="name">Name</th>
      <th scope="col" class="elo">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <th scope="row" class="rank">{{ player.output }}</th>
      <td class="name">{{ player.name }}</td>
      <td class="elo">{{ player.elo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
