<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet"> 
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
	<link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  <link rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div id="main" class="container">
		<div class="jumbotron">
			<h1 class="display-4">SVS Pong Rankings 🏓</h1>
			<p class="lead">The top Ping Pong players on SVS 2019</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-light" href="/all" role="button">See All Players</a>
      <a class="btn btn-primary btn-light" href="/" role="button">Top 10</a>
        <!-- Modal -->
         <!-- Button trigger modal -->
         <hr class="my-4">
         <button type="button" class="btn btn-dark submit-results" data-toggle="modal" data-target="#exampleModal">
            Submit result
          </button>
          <br>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Match Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Winner</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" id="p0" aria-describedby="inputGroup-sizing-default" value="">
                  </div>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Points</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" id="s0" aria-describedby="inputGroup-sizing-default" value="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">2nd Plce</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" id="p1" aria-describedby="inputGroup-sizing-default" value="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">Points</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" id="s1" aria-describedby="inputGroup-sizing-default" value="">
                      </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="getInputsByValue();">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <div class="accordion" id="accordionExample">
      <!-- <ul class="list-group"> -->
        {% for player in players %}
        <div class="card" player-name collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{player.rank}}" aria-expanded="false" aria-controls="collapse-{{player.rank}}">
            <div class="card-header" id="heading-{{player.rank}}">
              <!-- <h2 class="mb-5"> -->
                  <div class="row">
                    <div class="col rank">
                      {{player.rank}}
                    </div>
              <div class="col name">
                  <button class="btn btn-link player-name collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{player.rank}}" aria-expanded="false" aria-controls="collapse-{{player.rank}}">
                    {{player.output}}
                  </button>
                </div>
                <div class="col elo">
                    <button class="btn btn-link player-name collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{player.rank}}" aria-expanded="false" aria-controls="collapse-{{player.rank}}">
                      {{player.elo}}
                    </button>
                  </div>
              <!-- </h2> -->
              </div>
            </div>
        
            <div id="collapse-{{player.rank}}" class="collapse" aria-labelledby="heading-{{player.rank}}" data-parent="#accordionExample">
              <div class="card-body">
                Sample match data
              </div>
            </div>
          </div>
        <!-- <li class="list-group-item" id="{{player.rank}}">{{player.output}}</li> -->
        {% endfor %}
      <!-- </ul> -->
      </div>
		</div>
  By Noah Yoshida
  </div>
</body
